django
djangorestframework
drf-spectacular
gunicorn
django-filter
django-cors-headers
python-decouple
psycopg2-binary

-e "git+http://git@github.com/luiz-fs/desafio-dev.git@main#egg=rabbit_queue&subdirectory=rabbit_queue"
